<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Πανεπιστήμιο Πελλοπονήσου</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user}">Home <span class="sr-only"></span></a>

            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user/delete}">Delete</a>
            </li>
        </ul>
    </div>

    <div style = "position:relative; left:-20px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<br>
<br>
<form th:action="@{/user/update/email}" method="post" th:object="${email}">
    <table class="table table-striped table-bordered ">
        <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Email Type</th>
        </tr>
        </thead>
        <tbody>
            <td><input type="email" id="email" name="email" class="form-control" placeholder="user@gmail.com" required autofocus="autofocus"/></td>
            <td>
                <select class="form-control" id="emailType" name="emailType">
                  <option selected>Select menu</option>
                    <option th:each="emailType : ${T(com.kara.bachelorpapel.enums.EmailType).values()}"
                            th:value="${emailType}"
                            th:text="${emailType.name}">
                    </option>
                </select>
            </td>
        </tbody>
    </table>
    <input type="submit" value="INSERT"/>
</form>

<br>

<form th:action="@{/user/update/phone}" method="post" th:object="${phone}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Phone</th>
            <th>Phone Type</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="phone" id="phone" name="phone" class="form-control" placeholder="+30 " required autofocus="autofocus"/></td>
        <td>
            <select class="form-control" id="phoneType" name="phoneType">
                <option selected>Select menu</option>
                <option th:each="phoneType : ${T(com.kara.bachelorpapel.enums.PhoneType).values()}"
                        th:value="${phoneType}"
                        th:text="${phoneType.name}">
                </option>
            </select>
        </td>
        </tbody>
    </table>
    <input type="submit" value="INSERT"/>
</form>

<br>


<form th:action="@{/user/update/address}" method="post" th:object="${address}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Street</th>
            <th>Number</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Address Type</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="street" name="street" class="form-control" placeholder="Πετρουπόλεως" required autofocus="autofocus"/></td>
        <td><input type="text" id="number" name="number" class="form-control" placeholder="22" required autofocus="autofocus"/></td>
        <td><input type="text" id="postalCode" name="postalCode" class="form-control" placeholder="12134" required autofocus="autofocus"/></td>
        <td><input type="text" id="city" name="city" class="form-control" placeholder="Athens" required autofocus="autofocus"/></td>
        <td><input type="text" id="country" name="country" class="form-control" placeholder="Greece" required autofocus="autofocus"/></td>
        <td>
            <select class="form-control" id="addressType" name="addressType">
                <option selected>Select menu</option>
                <option th:each="addressType : ${T(com.kara.bachelorpapel.enums.AddressType).values()}"
                        th:value="${addressType}"
                        th:text="${addressType.name}">
                </option>
            </select>
        </td>
        </tbody>
    </table>
    <input type="submit" value="INSERT"/>
</form>
<br>

<form th:action="@{/user/update/education}" method="post" th:object="${education}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>University</th>
            <th>Department</th>
            <th>Title</th>
            <th>Country</th>
            <th>Entry Year</th>
            <th>Graduation Year</th>
            <th>Education Level</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="university" name="university" class="form-control" placeholder="Πανεπιστήμιο Πελοποννήσου" required autofocus="autofocus"/></td>
        <td><input type="text" id="department" name="department" class="form-control" placeholder="Πληροφικής & Τηλεπικοινωνιών" required autofocus="autofocus"/></td>
        <td><input type="text" id="title" name="title" class="form-control" placeholder="Bachelor" required autofocus="autofocus"/></td>
        <td><input type="text" id="studyCountry" name="studyCountry" class="form-control" placeholder="Greece" required autofocus="autofocus"/></td>
        <td><input type="date" id="entryYear" name="entryYear" class="form-control" placeholder="2015" required autofocus="autofocus"/></td>
        <td><input type="date" id="graduationYear" name="graduationYear" class="form-control" placeholder="2020" required autofocus="autofocus"/></td>
        <td>
            <select class="form-control" id="educationLevel" name="educationLevel">
                <option selected>Select menu</option>
                <option th:each="educationLevel : ${T(com.kara.bachelorpapel.enums.EducationLevel).values()}"
                        th:value="${educationLevel}"
                        th:text="${educationLevel.name}">
                </option>
            </select>
        </td>
        </tbody>
    </table>
    <input type="submit" value="INSERT"/>
</form>
<br>
<form th:action="@{/user/update/experience}" method="post" th:object="${experience}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Starting Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="company" name="company" class="form-control" placeholder="Epsilon #Net" required autofocus="autofocus"/></td>
        <td><input type="text" id="position" name="position" class="form-control" placeholder="Team-Leader" required autofocus="autofocus"/></td>
        <td><input type="date" id="startDate" name="startDate" class="form-control" placeholder="01-02-2020" required autofocus="autofocus"/></td>
        <td><input type="date" id="endDate" name="endDate" class="form-control" placeholder="18-5-2022" required autofocus="autofocus"/></td>
        </tbody>
    </table>
    <input type="submit" value="INSERT"/>
</form>
<br>

<form th:action="@{/user/update/studentInfo}" method="post" th:object="${studentInfo}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>A-M</th>
            <th>Entry Year</th>
            <th>Graduation Date</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="am" name="am" class="form-control" placeholder="202201500052" required autofocus="autofocus"/></td>
        <td><input type="date" id="entryYears" name="entryYears" class="form-control" placeholder="01-01-2015" required autofocus="autofocus"/></td>
        <td><input type="date" id="graduationYears" name="graduationYears" class="form-control" placeholder="01-01-2019" required autofocus="autofocus"/></td>
        </tbody>
    </table>
    <input type="submit" value="INSERT"/>
</form>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</body>
</html>