<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
    <style>
  .fixed-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(76, 175, 80, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    }

.alert-danger {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-table {
        table-layout: fixed;
        width: 100%;
    }

    .custom-table th, .custom-table td {
        width: auto;
        text-align: center;
    }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div style = "position:relative; left:70px;">
    <a class="navbar-brand" href="#">Πανεπιστήμιο Πελοποννήσου</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active" style = "position:relative; left:90px;">
                <a class="nav-link" href="#" th:href="@{/user}">Home <span class="sr-only"></span></a>
        </ul>
    </div>
    <div th:if="${successMessage}" class="alert alert-success fixed-alert">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    <div style = "position:relative; left:-20px;">
        <div style = "position:relative; left:-45px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

<body>
<div id="email-section" style="background-color: #f8f9fa; padding: 30px;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Προσθήκη E-Mail</h3>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
        <form id="email-form" th:action="@{/email/add}" method="post" th:object="${email}">
            <table class="table table-striped table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th>Email</th>
                    <th>Τύπος</th>
                </tr>
                </thead>
                <tbody>
                <td><input type="email" id="email" name="email" class="form-control" required autofocus="autofocus"/></td>
                <td>
                    <select class="form-select text-center" id="emailType" name="emailType" required>
                        <option value="" disabled selected>Επιλογή Τύπου E-mail</option>
                        <option th:each="emailType : ${T(com.kara.bachelorpapel.enums.EmailType).values()}"
                                th:value="${emailType}"
                                th:text="${emailType.toString()}">
                        </option>
                    </select>
                </td>
                </tbody>
            </table>
            <input type="submit" value="INSERT" class="btn btn-primary"/>
        </form>
    </div>
</div>

<div style="background-color: #f8f9fa; padding: 20px;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Προσθήκη Τηλεφώνου</h3>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
        <form id="phone-section" th:action="@{/phone/add}" method="post" th:object="${phone}">
            <table class="table table-striped table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th>Αριθμός</th>
                    <th>Τύπος Τηλεφώνου</th>
                </tr>
                </thead>
                <tbody>
                <td><input type="phone" id="phone" name="phone" class="form-control"  required autofocus="autofocus"/></td>
                <td>
                    <select class="form-select text-center" id="phoneType" name="phoneType" required>
                        <option value="" disabled selected>Επιλογή Τύπου Τηλεφώνου</option>
                        <option th:each="phoneType : ${T(com.kara.bachelorpapel.enums.PhoneType).values()}"
                                th:value="${phoneType}"
                                th:text="${phoneType.toString()}">
                        </option>
                    </select>
                </td>
                </tbody>
            </table>
            <input type="submit" value="INSERT" class="btn btn-primary"/>
        </form>
    </div>
</div>



<div style="background-color: #f8f9fa; padding: 20px;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Προσθήκη Διεύθυνσης</h3>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
        <form th:action="@{/address/add}" method="post" th:object="${address}">
            <table class="table table-striped table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th>Οδός</th>
                    <th>Αριθμός</th>
                    <th>Ταχυδρομικός Κώδικας</th>
                    <th>Πόλη</th>
                    <th>Χώρα</th>
                    <th>Τύπος Διεύθυνσης</th>
                </tr>
                </thead>
                <tbody>
                <td><input type="text" id="street" name="street" class="form-control" required autofocus="autofocus"/></td>
                <td><input type="text" id="number" name="number" class="form-control" required autofocus="autofocus" min="0"/></td>
                <td><input type="text" id="postalCode" name="postalCode" class="form-control" required autofocus="autofocus"/></td>
                <td><input type="text" id="city" name="city" class="form-control" required autofocus="autofocus"/></td>
                <td><input type="text" id="country" name="country" class="form-control" required autofocus="autofocus"/></td>
                <td>
                    <select class="form-select text-center" id="addressType" name="addressType" required>
                        <option value="" disabled selected>Επιλογή Τύπου Διεύθυνσης</option>
                        <option th:each="addressType : ${T(com.kara.bachelorpapel.enums.AddressType).values()}"
                                th:value="${addressType}"
                                th:text="${addressType.toString()}">
                        </option>
                    </select>
                </td>
                </tbody>
            </table>
            <input type="submit" value="INSERT" class="btn btn-primary"/>
        </form>
    </div>
</div>

<div style="background-color: #f8f9fa; padding: 20px;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Προσθήκη Εκπαίδευσης</h3>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
<form th:action="@{/education/add}" method="post" th:object="${education}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
        <tr>
            <th>Πανεπιστήμιο</th>
            <th>Τμήμα</th>
            <th>Τίτλος</th>
            <th>Χώρα</th>
            <th>Ημερομηνία Εισαγωγής</th>
            <th>Ημερομηνία Αποφοίτησης</th>
            <th>Επίπεδο Εκπαίδευσης</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="university" name="university" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="text" id="department" name="department" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="text" id="title" name="title" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="text" id="studyCountry" name="studyCountry" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="date" id="entryYear" name="entryYear" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="date" id="graduationYear" name="graduationYear" class="form-control"   autofocus="autofocus"/></td>
        <td>
            <select class="form-select " id="educationLevel" name="educationLevel" required>
                <option value="" disabled selected>Επίλογη Επιπέδου Εκπαίδευσης</option>
                <option th:each="educationLevel : ${T(com.kara.bachelorpapel.enums.EducationLevel).values()}"
                        th:value="${educationLevel}"
                        th:text="${educationLevel.toString()}">
                </option>
            </select>
        </td>
        </tbody>
    </table>
    <input type="submit" value="INSERT" class="btn btn-primary"/>
</form>
    </div>
</div>

<div style="background-color: #f8f9fa; padding: 20px;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Προσθήκη Εμπειρίας</h3>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
<form th:action="@{/experience/add}" method="post" th:object="${experience}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
        <tr>
            <th>Εταιρεία</th>
            <th>Θέση</th>
            <th>Ημερομηνία Πρόσληψης</th>
            <th>Ημερομηνία Αποχώρησης</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="company" name="company" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="text" id="position" name="position" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="date" id="startDate" name="startDate" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="date" id="endDate" name="endDate" class="form-control"   autofocus="autofocus"/></td>
        </tbody>
    </table>
    <input type="submit" value="INSERT" class="btn btn-primary"/>
</form>
    </div>
</div>
<div style="background-color: #f8f9fa; padding: 20px;">
    <h3 style="text-align: center; margin-top: 50px; margin-bottom: 20px;">Προσθήκη Πληροφοριών-ΠΑΠΕΛ</h3>
</div>
<div class="row justify-content-center">
    <div class="col-lg-11">
<form th:action="@{/studentInfo/add}" method="post" th:object="${studentInfo}">
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
        <tr>
            <th>A-M</th>
            <th>Ημερομηνία Εισαγωγής</th>
            <th>Ημερομηνία Αποφοίτησης</th>
        </tr>
        </thead>
        <tbody>
        <td><input type="text" id="am" name="am" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="date" id="entryYears" name="entryYears" class="form-control"  required autofocus="autofocus"/></td>
        <td><input type="date" id="graduationYears" name="graduationYears" class="form-control"  required autofocus="autofocus"/></td>
        </tbody>
    </table>
    <input type="submit" value="INSERT" class="btn btn-primary"/>
</form>
    </div>
</div>
</body>
</body>
</html>