<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Πανεπιστήμιο Πελλοπονήσου</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user}">Home</a>

            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user/add}">Add Info</a>
            </li>

        </ul>
    </div>

    <div style = "position:relative; left:-20px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2>
        <td th:text="${user.firstname}"></td>
    </h2>
    <form th:action="@{/user/delete/email}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Select</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="email : ${user.emails}">
                <td><input type="checkbox" name="email" th:value="${email.emailId}"/></td>
                <td th:text="${email}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Emails"/>
    </form>
    <br>
    <form th:action="@{/user/delete/phone}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <h3>Phones</h3>
            <tr>
                <th>Select</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="phone : ${user.phones}">
                <td><input type="checkbox" name="phone" th:value="${phone.phoneId}"/></td>
                <td th:text="${phone}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Phones"/>
    </form>
    <form th:action="@{/user/delete/address}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <h3>List of Addresses</h3>
            <tr>
                <th>Select</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${user.addresses}">
                <td><input type="checkbox" name="address" th:value="${address.addressId}"/></td>
                <td th:text="${address}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Addresses"/>
    </form>
    <form th:action="@{/user/delete/experience}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <h3>Experience</h3>
            <tr>
                <th>Select</th>
                <th>Experience</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="experience : ${user.experiences}">
                <td><input type="checkbox" name="experience" th:value="${experience.experienceId}"/></td>
                <td th:text="${experience}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Experience"/>
    </form>
    <form th:action="@{/user/delete/education}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <h3>Education</h3>
            <tr>
                <th>Select</th>
                <th>Education</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="education : ${user.educations}">
                <td><input type="checkbox" name="education" th:value="${education.educationId}"/></td>
                <td th:text="${education}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Education"/>
    </form>
    <form th:action="@{/user/delete/studentInfo}" method="post">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <h3>Student Info</h3>
            <tr>
                <th>Select</th>
                <th>Student Info</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studentInfo : ${user.studentInfo}">
                <td><input type="checkbox" name="am" th:value="${studentInfo.am}" /></td>
                <td th:text="${studentInfo.am}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Delete Selected Info"/>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

</body>
</html>
