<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/login}">Πανεπιστήμιο Πελοποννήσου</a>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered!
                </div>
            </div>
            <h1>Registration</h1>
            <form th:action="@{/registration}" method="post" class="form" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstname"> First Name </label>
                    <input type="text" id="firstname" class="form-control" th:field="*{firstname}"
                           placeholder="Enter First Name"
                           required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastname"> Last Name </label> <input
                        type="text" id="lastname" class="form-control" th:field="*{lastname}"
                        placeholder="Enter Last Name"
                        required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="username"> Username </label>
                    <input
                            type="text" id="username" class="form-control" th:field="*{username}" required
                            placeholder="Enter Username"
                            autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label>
                    <input
                            id="password" class="form-control" type="password" placeholder="Enter password"
                            th:field="*{password}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already have an account? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>


<!--.myBox {-->
<!--width: 100%;-->
<!--height: 100%;-->
<!--padding: 10px;-->
<!--border:1px solid #000;-->
<!--border-radius: 10px;-->
<!--box-shadow: 0px 2px 2px 2px black;-->
<!--background: white;-->
<!--}-->

<!--@media screen and (min-width: 600px) {-->
<!--.myBox {-->
<!--text-align: center;-->
<!--justify-context: center;-->
<!--margin:auto;-->
<!--width: 50%;-->
<!--height: 50%;-->
<!--padding: 10px;-->
<!--border:1px solid #000;-->
<!--border-radius: 10px;-->
<!--box-shadow: 0px 2px 2px 2px black;-->
<!--background: white;-->
<!--}-->
<!--}-->
