<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Average Years to Find a Job</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Πανεπιστήμιο Πελοποννήσου</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" th:href="@{/user}">Home</a>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" th:href="@{/admin/users}">Admin <span class="sr-only"></span></a>
    </ul>
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h2>Students that continued with their Studies</h2>
  <p>The number of students who continued their studies after completing their undergraduate degree is: <strong><span th:text="${numOfStContinuedStudies}"></span></strong></p>
</div>

<div class="container mt-5">
  <h2>Average Years to Find a Job</h2>
  <p>The average number of years it takes for students to find a job after graduation is: <strong><span th:text="${avgYearsToJob}"></span></strong></p>
</div>




</body>
</html>
