<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Πανεπιστήμιο Πελλοπονήσου</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user/add}">Add Info</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user/delete}">Delete</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/admin/users}">Admin</a>
            </li>

        </ul>
    </div>

    <div style = "position:relative; left:-20px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2> Welcome
        <td th:text="${user.firstname}"></td>
    </h2>
</div>
<br>
<br>
<body>
<div class="container">
    <div class="row">
        <h3> Personal Info </h3>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
        </tr>
        </tbody>
    </table>
    <h3>List Of Emails</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="email : ${user.emails}">
            <td th:text="${email}"></td>
            <td th:text="${email.emailType}"></td>
            <td>
                <div class="btn-group" role="group">
                <form th:action="@{/email/update/{id}(id=${email.emailId})}" method="get" th:object="${email}">
                    <input type="hidden" name="email" th:value="${email.emailId}" />
                    <button type="submit" class="btn btn-primary me-3">Edit</button>
                </form>
                <form method="post" action="email/delete">
                    <input type="hidden" name="email" th:value="${email.emailId}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>List Of Phones</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="phone : ${user.phones}">
            <td th:text="${phone.number}"></td>
            <td th:text="${phone.phoneType}"></td>
            <td>
                <div class="btn-group" role="group">
                <form th:action="@{/phone/update/{id}(id=${phone.phoneId})}" method="get" th:object="${phone}">
                    <input type="hidden" name="phone" th:value="${phone.phoneId}" />
                    <button type="submit" class="btn btn-primary me-3">Edit</button>
                </form>
                <form method="post" action="phone/delete">
                    <input type="hidden" name="phone" th:value="${phone.phoneId}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Address</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Street</th>
            <th>Number</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Country</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr th:each="address : ${user.addresses}">
            <td th:text="${address.street}"></td>
            <td th:text="${address.number}"></td>
            <td th:text="${address.postalCode}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.country}"></td>
            <td th:text="${address.addressType}"></td>
            <td>
                <div class="btn-group" role="group">
                <form th:action="@{/address/update/{id}(id=${address.addressId})}" method="get" th:object="${address}">
                    <input type="hidden" name="address" th:value="${address.addressId}" />
                    <button type="submit" class="btn btn-primary me-3">Edit</button>
                </form>
                <form method="post" action="address/delete">
                    <input type="hidden" name="address" th:value="${address.addressId}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Education</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>University</th>
            <th>Department</th>
            <th>Title</th>
            <th>Country</th>
            <th>Entry Year</th>
            <th>Graduation Year</th>
            <th>Education Level</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="education : ${user.educations}">
            <td th:text="${education.university}"></td>
            <td th:text="${education.department}"></td>
            <td th:text="${education.title}"></td>
            <td th:text="${education.country}"></td>
            <td th:text="${education.entryYear}"></td>
            <td th:text="${education.graduationYear}"></td>
            <td th:text="${education.educationLevel}"></td>
            <td>
                <div class="btn-group" role="group">
                    <form th:action="@{/education/update/{id}(id=${education.educationId})}" method="get" th:object="${education}">
                        <input type="hidden" name="education" th:value="${education.educationId}" />
                        <button type="submit" class="btn btn-primary me-3">Edit</button>
                    </form>
                    <form method="post" action="/education/delete">
                        <input type="hidden" name="education" th:value="${education.educationId}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Experience</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Starting Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="experience : ${user.experiences}">
            <td th:text="${experience.company}"></td>
            <td th:text="${experience.position}"></td>
            <td th:text="${experience.startDate}"></td>
            <td th:text="${experience.endDate}"></td>
            <td>
                <div class="d-inline-flex">
                    <form th:action="@{/experience/update/{id}(id=${experience.experienceId})}" method="get"
                          th:object="${experience}">
                        <input type="hidden" name="experience" th:value="${experience.experienceId}" />
                        <button type="submit" class="btn btn-primary me-3">Edit</button>
                    </form>
                    <form method="post" action="experience/delete">
                        <input type="hidden" name="experience" th:value="${experience.experienceId}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Extra Info</h3>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>A-M</th>
            <th>Entry Year</th>
            <th>Graduation Year</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studentInfo : ${user.studentInfo}">
            <td th:text="${studentInfo.am}"></td>
            <td th:text="${studentInfo.entryYear}"></td>
            <td th:text="${studentInfo.graduationYear}"></td>
            <td>
                <div class="btn-group" role="group">
                    <form th:action="@{/studentInfo/update/{id}(id=${studentInfo.am})}" method="get" th:object="${studentInfo}">
                        <input type="hidden" name="studentInfo" th:value="${studentInfo.am}" />
                        <button type="submit" class="btn btn-primary me-3">Edit</button>
                    </form>

                    <form method="post" action="studentInfo/delete">
                        <input type="hidden" name="am" th:value="${studentInfo.am}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</div>
</body>
</body>
</html>