<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registration and Login App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Profile
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>

</nav>

<br>
<br>

<div class="container">
    <h1>University of Peloponnese Student App </h1>
    Welcome
    <td th:text="${user.firstname}"></td>

</div>
<br>
<br>
<body>

<div class="container">
    <div class="row">
        <div class="col-Lg-6 col-md-6 col-sm-6 container justify-content-center card"></div>
        <h1></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3> Personal Info </h3>
    </div>

    <div class="row">
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">

        <tr>
            <th>Username</th>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Email</th>
            <th> Phone</th>
            <th> Address</th>
            <th> Education</th>
            <th> Experience</th>
            <th> Extra Info</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td th:text="${user.username}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.emails}"></td>
            <td th:text="${user.phones}"></td>
            <td th:text="${user.addresses}"></td>
            <td th:text="${user.educations}"></td>
            <td th:text="${user.experiences}"></td>
            <td th:text="${user.studentInfo}"></td>

        </tbody>
    </table>
</div>
</body>
</body>
</html>